<h2 xmlns="http://www.w3.org/1999/html">login</h2>
<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" formControlName="name" id="name" name="name" class="form-control"/>
        <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" name="password" id="password" class="form-control"/>
        <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
            <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Login">
        <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>
</form>
