<h2>Bejelentkezve: {{user.name}}</h2>
<div>Regisztrált felhasználók listája: </div>
<ul>
    <li *ngFor="let user of users">
        {{user.name}}
    </li>
</ul>
<div *ngIf="errorMessage">Hiba a userek lekérésekor: {{errorMessage}}</div>