<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" name="name" id="name" class="form-control" formControlName="name"/>
        <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" formControlName="password"/>
        <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
            <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
    <div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>
</form>
